/* Start error modal */
@import url('https://fonts.googleapis.com/css?family=Pattaya|Quicksand:400,500,700');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;  
  border-radius: 6px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.253);
  background: #3f3f3f56;
  font-family: "Pattaya", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.contentErrorMsg {
  margin: 10px;
  font-family: "Quicksand", serif;
}

.material-symbols-outlined {
  color: red;
  font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.modal {
  z-index: 1000;
  position: absolute;
  top: 95px;
  left: 85px;
  width: 230px;
  height: 200px;
  border-radius: 4px;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
  animation: show .7s ease-in-out;
}

.modal.hide {
  animation: hide .7s ease-in-out forwards;
}

.modal .warning {
  position: absolute;
  top: 10px;
  left: 90px;
  color: #fff;
}

.modal .content {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  color: #445867;
  top: 60px;
}

.modal .content span {
  font-weight: 600;
}

.modal .content p {
  margin-top: 6px;
  font-size: 14px;
}

.modal .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-radius: 0 0 4px 4px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  background: #ed585d;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family: "Quicksand", serif;
}

.modal .footer:hover {
  font-weight: 600;
  background: #e2373f;
}

@keyframes show {
  0% {
      transform: scale(0);
  }
  60% {
      transform: scale(1.1);
  }
  80% {
      transform: scale(.9);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes hide {
0% {
  transform: scale(1);
}
20% {
  transform: scale(1.1);
}
100% {
  transform: scale(0);
}
}

/* End error modal */

/* ********** Custom Properties ********** */
@font-face {
    font-family: 'Manga Temple';
    src: url('./fonts/manga_temple/mangat-webfont.woff2') format('woff2');
}

:root{
    --primaryFont: 'Manga Temple';
    --secondaryFont: 'Raleway';
    --primaryColor: #FFC107;
    --primaryColor-intense1: #c55b01;
    --secondaryColor: #CC0001;
    --thirdColor: #ee4f6c;
  --light-gray: #1E1E1E;
}
/* ********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--secondaryFont);
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #191919;
    color: whitesmoke;
    font-family: var(--primaryFont);    
  }


  .btn {
    border: none;
    cursor: pointer;  
    padding: 1rem;
    border-radius: 20px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgba(25, 25, 25, 1);
    font-family: var(--primaryFont);
    background-color: var(--primaryColor);
  }
.userLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 200px;    
}

.error {
  font-family: var(--secondaryFont);
  color: red;
}

.userLogin > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userLogin > form > input{
    margin-bottom: 1rem;
}

.userLoginP {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    width: 138px;
    height: 59px;
}

.selectAction {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.selectActions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.action {
  display: flex;
  flex-direction: column;
  font-family: var(--secondaryFont);
  text-align: center;
}

.actionIcon{
  border-radius: 50%;
  padding: 15px;
  height: 100px;
  width: 100px;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.actionAdd {
  background-color: var(--thirdColor);
}

.actionIcon img {
  width: 80%;
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--light-gray);
}

.headerProfileInfo {
  display: flex;
  flex-direction: row;
  width: auto;
}

.headerLeft {
  width: 18%;
  cursor: pointer;
}

.headerUsername {
  font-family: var(--secondaryFont);
  margin-right: 5px;
}

.createRoomSection {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.createRoom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.createRoom input[type='text']{
  border-radius: 20px;
}

.formSection {
  margin-bottom: 16px;
}

.createRoom label {
  color: white;
  font-family: var(--primaryFont);
}

.rangeSlider {
  position: relative;
  margin-top: 32px;
  display: flex;
}

 .rangeLimit {
  margin: 0;
   color: var(--primaryColor);
}

.rangeDialogNumber {
  position: relative;
  left: 0;
  top: -25px;
}

.rangeNumber {
  position: absolute;
  padding-left: 6px;
  text-align: center;
  margin: 0;
}

.dialog-box {
  position: absolute;
}

.createRoom input[type='range'] {
  position: relative;
  accent-color: var(--primaryColor);
}

.toggle {
  width: 100px;
  margin-top: 5px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  background-color: green;
  cursor: pointer;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
}

.toggle.lock {
  background-color: gray;
}

.togglePadlock {
  transition: right 1s ease;
}


.toggleLock {
  position: absolute;
  right: 8px;
}

.toggleUnlock {
  position: absolute;
  right: calc(100% - 35% - 8px);
}

.toggleLock.hidePadlock {
  right: -35%;
}

.toggleUnlock.hidePadlock {
  right: calc((100% - 35% - 4px) + 38%);
}

.toggleSlider {
  width: 35%;
  height: 80%;
  top: 5px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  right: 4px;
  transition: right 1s ease;
}

.toggleSlider.toggleLeft {
  right: calc(100% - 35% - 4px);
}

.toggleSlider.toggleLeft::after {
  border-color: gray;
}

.toggleSlider::after {
  content: "";
  width: 50%;
  height: 55%;
  border-radius: 50%;
  top: 7px;
  left: 8px;
  background-color: white;
  position: absolute;
  border: 3px solid green;
}


.createRoom button {
  background: var(--primaryColor);
  color: black;
  border-radius: 10px;
  height: 40px;
  line-height: 0;
  align-self: center;
}

.roomsEmptyStateContainer {
  width: 100%;
  height: 100%;
  padding: 25px 40px;
}

.roomsEmptyState {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--secondaryFont);
}

.roomsEmptyStateTitle{
  color: var(--primaryColor);
  font-weight: bold;
}

.roomsEmptyState p{
  color: #e0e0e0;
  font-size: 13px;
  margin-top: -10px;
}

.rooms {
  width: 350px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  height: auto;
}


.profileIcon {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profileIcon {
  grid-area: profileIcon;
  justify-self: center;
  align-self: center;
}

.username {
  grid-area: username;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  font-family: var(--secondaryFont);
  align-self: end;
  margin: 0;
}

.roomName {
  grid-area: roomName;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.usersConnected {
  grid-area: usersConnected;
  align-self: center;
  justify-self: start;
  align-self: end;
  justify-self: center;  
}

.usersConnectedNumber {
  color: #797979;
  font-weight: 400;
  font-size: 16px;
  margin: 4px;
  display: inline-block;
}

.roomEnterBtn {
  grid-area: roomEnterBtn;
  height: 40px;
  transform: none;
}

.room {
  padding-right: 10px;
  display: grid;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #332D2D;
  grid-template-columns: 2fr 4fr repeat(3, 0.5fr);
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
  "profileIcon username usersConnected    usersConnected       usersConnected"
  "profileIcon roomName  roomEnterBtn      roomEnterBtn         roomEnterBtn";
}




.hide{
  display: none;
  pointer-events: none;
}

